<div class="nav-container">
  <div class="row">
    <div class="col-md-8">
      <h4 class="channel"><strong>#{{thread.name}}</strong></h4>
      <span><i class="fa fa-star-o"></i> | <i class="fa fa-user-o"></i> {{thread.users.length}} | <i class="fa fa-thumb-tack"></i> 0 | {{thread.description}}</span>
    </div>
    <div class="col-md-3 input-group pull-right username">
      <input #message class="form-control" placeholder="Change Username" (keyup.enter)="changeUser(message.value); message.value=''">
      <span class="input-group-addon" (click)="changeUser(message.value); message.value=''">Change</span>
    </div>
  </div>
</div>
<hr>
